# Postgres
POSTGRES_PORT=5432
POSTGRES_DB=web_app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changepassword

# Redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

# Backend
BACKEND_CORS_ORIGINS="http://localhost"
BACKEND_WORKERS=4
BACKEND_PORT=8000
BACKEND_LOG_LEVEL=INFO
BACKEND_LOG_JSON=false
